.headline {
    position: relative;
    z-index: 5;
    color: #fff;
    padding: 15rem clamp(25px, 5vw, 100px);
    width: fit-content;
    float: right;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

.cta-btn {
  padding: 1.5rem 2rem;
  background-color: #d8d7d5;
  border: none;
  color: #00000088;
  font-weight: bold;
  width: 50%;
  min-width: 20rem;
  transition: .2s all;
  margin-top: 2rem;

  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 600px) {
  .headline {
    padding-top: 18rem;
  }
}

main {
  height: 100vh;
  width: 100vw;
}


