.header {
  max-width: 100%;
  position: relative;
  z-index: 6;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 2rem;
  margin: 2rem 0;
  padding: 0 5vw;

  ul {
    display: flex;
    gap: inherit;
    color: #00000088;
    font-weight: 700;
  }
}
