* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

header {
  max-width: 100%;
  padding: 0 0 2rem;
}

.app {
  padding: 2rem 5rem;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(35rem, 1fr));
  gap: 4rem;
}

.image-container {
  width: 100%;
  overflow: hidden;
}

.image-container img {
  width: 100%;
  object-fit: cover; 
  object-position: center;
  height: calc(100% * 4 / 5);
}

.image-container img:hover {
  transform: scale(1.05);
}

#product {
  position: relative;
   p {
     padding: 1.2rem 0;
   }

  .details {
    display: flex;
    justify-content: space-between;

    .price {
      font-weight: bold;
    }
  }
}

.add-to-cart-btn {
  opacity: 0;
  padding: 1.5rem 4rem;
  background-color: #111111;
  border: none;
  color: #fff;
  font-weight: bold;
  width: 100%;
  transition: .2s all;

  &:hover {
    cursor: pointer;
  }
}

#product {
  .add-to-cart-btn {
    left: 0;
  }

  .product-info-container:hover {
    .add-to-cart-btn {
      opacity: 1;
    }
  }
}

.cart-icon i  {
  padding: 1rem;
  font-size: 1.8rem;
  position: relative;

  &:hover {
    cursor: pointer;
  }

  p {
    position: absolute;
    bottom: 0;
    right: 0;
    font-size: .75em;
    color: red;
    font-weight: bold;
  }
}
