* {
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  font-size: 1.4rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100vw;
}

h1 {
  font-size: clamp(56px, 8vw, 84px);
  text-align: right;
  

          /** TEXT GRADIENT */ 
  color: #b1b0ad; 
  background-image: -webkit-linear-gradient(315deg, #b1b0ad 18%, #a0c366 22%, #4b6e4f 70%); 
  background-clip: text; 
  -webkit-background-clip: text; 
  -webkit-text-fill-color: transparent;    
}
@media (max-width: 600px) {
  h1 {
    background-image: -webkit-linear-gradient(315deg, #b1b0ad 12%, #a0c366 33%, #4b6e4f 72%);
  }
}

h3 {
  text-align: right;
  font-weight: 700;
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: rgba(0, 0, 0, 0.2);
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(28rem, 1fr));
  gap: 4rem;
}

.image-container img {
  height: calc(100% * 4 / 5);
}

